# Environment variables (NEVER commit this)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db